<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Data</title>
    <link rel="stylesheet" href="./index.css">
    <link rel="stylesheet" href="./delete.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    
    <div class="header">
            
    </div>
    <div class="operation">
        <a href="/index"><button id="insert">Insert Data</button></a>
        <a href="/read_data"><button id="read">Read Data</button></a>
        <a href="/update"><button id="update">Update Data</button></a>
        <a href="/delete"><button id="delete">Delete Data</button></a>
    </div>
    <div class="container1"><br><br>
        <div class="search"> 
            <input type="search"/>
            <button type="button">Search</button>
        </div><br><br><br>
        <table id="dataTable" border="1px">
            <tr>
                <td width="3%">No.</td>
                <td width="3%">Id</td>
                <td width="10%">Product Name</td>
                <td width="10%">Product Type</td>
                <td width="6%">Price</td>
                <td width="2%">Action</td>
            </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <span class="material-symbols-outlined">delete</span>
                    </td>

                </tr>        
        </table>
        <br><br>
    </div>
</body>
<script>
    
</script>

</html>